* {
	font-family: CALICOMP;
	font-size: 12;
}

window {
	background-color: #191819;
	border-radius: 12px;
}

#input {
	background-color: #191819;
	border-radius: 0px;
}

#outer-box {
	margin: 18px;
    border-radius: 10px;
}

#entry:selected {
	background-color: #191819;
}